// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * Copyright 2021-2024 NXP
 */

/dts-v1/;
#include "s32g2.dtsi"
#include "s32gxxxa-evb.dtsi"

/ {
	model = "NXP S32G2XXX-EVB";
};

&qspi {
	status = "okay";
	mx25uw51245g@0 {
		spi-max-frequency = <166666666>;
	};
};

&pcie0 {
	status = "okay";
};

&pcie1 {
	status = "okay";
};

&serdes0 {
	status = "okay";
};

&serdes1 {
	status = "okay";
};

&usbotg {
	status = "okay";
};

&pfe_mdio2 {
	status = "okay";
	/* AQR107 on S32G-PROCEVB-S  */
	mdio_a_phy4: ethernet-phy@4 {
		compatible = "ethernet-phy-ieee802.3-c45";
		reg = <4>;
	};
};

&pfe_netif0 {
	status = "okay";
	phy-mode = "sgmii";
	phy-handle = <&mdio_a_phy4>;
	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};

&pfe_netif1 {
	status = "okay";
};

&pfe_netif2 {
	status = "okay";
};
